/* Instellingen om fouten te helpen vinden, uncomment om aan te zetten */

* {                                          /* geldt voor alles */
    /* border: 1px dotted black;         */  /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien, letop dat dit de layout soms kan wijzigen */
    /* background-color: rgba(0,0,0,5%); */  /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur */
}

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

html, body {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
  background-color: #7a7a7a;    /* achtergrondkleur lichtgrijs */
  color: #000000;               /* tekstkleur donkergrijs */
}  

body * {                          /* geldt voor alles in body */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                    /* standaard marge 0 */
}
div {
  overflow: hidden;               /* zorgt dat DIV en andere block elementen de hoogte krijgt van wat erin zit (anders is het soms 0) */
}
.box{
  border:solid 2px white;
  margin: 20px;
}
/* Indeling voor alle pagina's */

.page {
  width: 700px;                   /* vaste breedte van 700 pixels */
  margin: 10px auto;              /* boven en onder 0 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
}

main {                       
  text-align: justify;            /* tekst uitvullen */}

h1, h3 {                      /* geldt voor h1 en h3 */
  margin: 10px 0px;
  text-align: center;    /* tekst centreren */
} 
h2{
  margin: 10px 0px;
  text-align: justify;
}
h4{
  margin:10px 0px;
  text-align: justify
}

p {
  margin: 10px 0px;
  text-align: justify;            /* tekst links en rechts uitvullen */
}

/* Indeling voor hoofd pagina */

.kolomLinks {
  float:left;
  width:250px;
  padding-right:15px;           /* afstand tussen plaatje en rechterkolom */
}
.kolomRechts {
  float:left;
  width: 450px;
}
.kolomStop {
  clear:both;                   /* stop met floaten */
}
.kolomrechts{
  float:right;
  width:250px;
  margin-left:2cm;
}
/* Opmaak voor alle pagina's */

h1,h2,h3{
      color: #e392fe;
}
h4{
  color:#b18cfe
}


.smalltext {
    text-align: center;
    font-size: 0.7em;
}

a {
    color: #a8c6fe;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Navigatiebalk voor alle pagina's */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #ed719e;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #000000;
}

nav li a.active {
    background-color: #ff8c82;
}
/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}